<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Birthday Reminder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="auth-body">

    <div class="auth-container">

        <div class="auth-card">
            
            <h2>Welcome 👋</h2>
            <p class="subtitle">Login to continue</p>

            <!-- Flash Messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash-box">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- Login Form -->
            <form method="POST">

                <input 
                    type="text" 
                    name="username" 
                    placeholder="Enter Username"
                    required
                >

                <div class="password-wrapper">
    <input 
        type="password" 
        id="password"
        name="password" 
        placeholder="Enter Password"
        required
    >
    <span class="toggle-eye" onclick="togglePassword()">👁️</span>
   </div>

                <button type="submit" class="btn-primary">
                    Login
                </button>

            </form>

            <p class="bottom-text">
                Don’t have an account?
                <a href="{{ url_for('register') }}">Register</a>
            </p>
            <p class="auth-extra">
    ✨ Because memories deserve reminders. 
            </p>

        </div>

    </div> 
     <script>
      function togglePassword() {
    const passwordField = document.getElementById("password");

    if (passwordField.type === "password") {
        passwordField.type = "text";
    } else {
        passwordField.type = "password";
    }
}
</script>
</body>
</html>